# Library dependencies for the python code.  You need to install these with
# `pip install -r requirements.txt` before you can run this.

pyaudio==0.2.11
pypi==0.2.11
opencv==4.3.0
flask-bootstrap==3.3.7
flask==2.3.2
speechrecognition==3.8.1
